# Introduction to Python


Today we will cover the basics of Python and get familiar with interactive computing in a *Jupyter notebook*.

Notebooks allow text and graphics to be combined with code that can be run interactively, with the results appearing inline.

This is a notebook that you are looking at right now.

Some of the content in this tutorial was adapted from Geoff Boeing's [Coding Bootcamp](https://github.com/gboeing/ppd430/blob/main/modules/03-coding-bootcamp-i/lecture.ipynb) lecture as part of his Urban Informatics course.

## First Line of Code

The first bit of code that is usually demonstrated when you are learning a programming language is usually to make the computer print "Hello world!"

In Python, we can do this using the `print` command. Click into the cell bellow and hit `Shift + Enter` to run the cell.

In [1]:
print("Hello world!")

Hello world!

Congrats, you just wrote your first line of Python code!

Note how a `[1]` appears to the left of the code cell. This number indicates the order in which cells have been executed. 

Try running the above cell again and see what happens.

## Writing Comments

It is a good practice to write comments in your code documenting what the code does. This is helpful so that someone else can more easily follow your code, and also for yourself to remember what you were doing (this can be surprisingly helpful!).

In Python, comments are preceded by the `#` symbol.

In [2]:
# This is a comment
# It is readable by humans
# But ignored by the computer
print("Hello again!")

Hello again!

Before we learn any more Python, let's get familiar with the Jupyter Notebook that we are currently using.

## Jupyter Notebook Interface

### Cells

A cell is a container for text to be displayed in the notebook or code to be executed by the notebook’s kernel.

There are two types of cells:

1) **Code cell**: contains code to be executed in the kernel. When the code is run, the notebook displays the output below the code cell that generated it.

2) **Markdown cell**: contains text formatted using Markdown and displays its output in-place when the Markdown cell is run

There is always one **active** cell highlighted by a blue bar on the left. This indicates your current location in the notebook.

Any selected cell can exist in two modes:

1) **Edit mode**: when the cell is ready for us to type something into the cell. This is indicated by the cursor blinking.

2) **Command mode**: when the cell is ready for us to perform a command, like running the cell or inserting a new one.

In order to enter edit mode, simply click into a cell or hit `Enter` on the currently selected cell.

In order to enter command mode, hit the `esc` key. You will see that the cursor stops blinking upon entering command mode.

### Jupyter Keyboard Shortcuts

When you are in command mode, you can use keyboard shortcuts to run commands. Below is a list of some of Jupyter's keyboard shortcuts. You don't need to memorize them immediately, but this should give you a good idea of what's possible.

- Toggle between edit and command mode with `Esc` and `Enter`, respectively
- Once in command mode:
    - Scroll up and down your cells with your `Up` and `Down` arrows
    - `Shift + Enter` to run a cell and move to the next cell
    - `Control + Enter` to run a cell and remain on that cell
    - Press `A` or `B` to insert a new cell above or below the active cell
    - Press `M` to transform the active cell to a Markdown cell
    - Press `Y` to transform the active cell to a code cell
    - Press `D + D` (`D` twice) to delete the active cell
    - Press `Z` to undo cell deletion
    - Hold `Shift` and press `Up` or `Down` to select multiple cells at once
    - With multiple cells selected, `Shift + M` will merge your selection
    - `Ctrl + Shift + -` will split the active cell at the cursor

### Practice

Let's do some exercises to get used keyboard shortcuts in Jupyter.

In [3]:
# Practice adding a cell above this one using the A shortcut

In [4]:
# Practice adding a cell below this one using the B shortcut

In [5]:
# Practice converting this cell to a Markdown cell

Practice converting this cell to a code cell

In [6]:
# Practice deleting this cell with D + D

In [7]:
# Practice undoing a cell deletion with Z

In [8]:
# Practice selecting multiple cells at once with Shift + Up or Shift + Down

In [9]:
# Practice merging multiple selected cells with Shift + M

In [10]:
# Practice splitting the below code into two cells with Ctrl + Shift + -
x = 1
y = 2

## Markdown

Markdown is a lightweight, easy to learn language for formatting plain text.

Below is some example markdown text. Select the cell and enter into edit mode to see the raw markdown.

This is some plain text that forms a paragraph. You can add emphasis via **bold** and __bold__, or *italic* and _italic_. 

Paragraphs must be separated by an empty line. 

* Sometimes we want to include lists. 
* Which can be bulleted using asterisks. 

1. Lists can also be numbered. 
2. If we want an ordered list.

We can embed hyperlinks like [this](https://google.com/).

# Variables

Variables are containers for storing data values. A variable is created the moment you first assign a value to it.

Create a variable called x and populate it with the number 5:

In [11]:
x = 5

In [12]:
x * 2

10

You can store text in a variable, too. In Python, text (or `strings`) must be enclosed by quotation marks (single and double are both fine).

Overwrite that variable x and populate it with a string.

In [13]:
x = 'hello'

In [14]:
x

'hello'

In [15]:
x * 2

'hellohello'

Notice how the multiplication operator performs a different function when used on a string, versus a number.

Clearly, variables can store data of different types. And different data types do different things.

## Numeric Variables

In [16]:
# variables contain values and those values can vary
x = 5

In [17]:
# what is the value of x?
x

5

In [18]:
# you can perform operations on variables, just like you can with numbers
x + 3

8

In [19]:
# what is the value of x, now?
x

5

In [20]:
# create a new variable y from an operation on x
y = x * 2

In [21]:
# what is the value of y?
y

10

In [22]:
# outputting values only displays the last thing output
# this is different from printing! it is kinda confusing!
x
y

10

In [23]:
# use print to write multiple value(s) to the "console"
print(x)
print(y)

5
10

In [24]:
# you can comma-separate values to print multiple values to the console on one line
print(x, y)

5 10

In [25]:
# you can also print the result of an expression
print(x * y)

50

In [26]:
# now it's your turn
# in a single line, create a new variable z and set it equal to x divided the sum of x plus y

## String Variables

We can also do operations on text. Pieces of text are called `strings` in Python (and in programming generally).

Strings must be contained within quotation marks (single `'` or double`"` both work).

Create a variable called `name` and populate it with your name. Be sure to wrap your name in quotation marks.

In [27]:
name = "Will"

In [28]:
print("Hello world! My name is", name)

Hello world! My name is Will

We can use some numeric functions on strings.

In [29]:
first_name = "Will"
last_name = "Geary"

# you can "concatenate" strings with the + operator
print("Hello world! My name is", first_name + last_name)

Hello world! My name is WillGeary

Let's format this output by add a space between the first and last name.

In [30]:
print("Hello world! My name is", first_name + " " + last_name)

Hello world! My name is Will Geary

We can even multiply string by a number, though we may never need to do this.

In [31]:
# Multiple a string and a number
name * 100

'WillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWillWill'

We cannot divide a string by a number though, and doing so will throw a `TypeError`. We will discuss `types` and `Error`s later in this tutorial.

In [32]:
# Try to divide a string by a number
# Throws an error
name / 2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [33]:
# let's try concatenating multiple strings
city = "Brooklyn"
sep = ", "
state = "NY"
zip_code = "11225"

# you can "concatenate" strings with the + operator
location = city + sep + state + " " + zip_code
print(location)

Brooklyn, NY 11225

Let's investigate some more things we can do with lists.

In [34]:
# create a new string to work with
sentence = "This is INFO 615."

In [35]:
sentence

'This is INFO 615.'

### `len()` function

`len` is a built-in Python function that tells us the length of an object.

When you use `len` with a `string`, it tells you how many characters are in that string.

In [36]:
# how many characters are in your name? use len function
len(name)

4

In [37]:
# what is the length of the string?
len(sentence)

17

### `strip()` method

Use the strip method to remove characters from the beginning and end of a string.

In [38]:
sentence.strip(".")

'This is INFO 615'

In [39]:
sentence.strip("This is ")

'INFO 615.'

Notice, `strip()` only for removing characters at the beginning or end of a string. It does not work with characters in the middle.

In [40]:
sentence.strip("is")

'This is INFO 615.'

In [41]:
sentence

'This is INFO 615.'

In [42]:
# create a new string to contain the stripped version of our string
new_sentence = sentence.strip("This is")

In [43]:
new_sentence

'INFO 615.'

In [44]:
# you can create a string variable and pass it into the strip method as an argument
to_strip = "INFO 615."
sentence.strip(to_strip)

'This is'

### `replace()` method

`replace()` returns a string where a specified value is replaced with a specified value

In [45]:
sentence.replace("is", "XX")

'ThXX XX INFO 615.'

If there are multple matching values, they will all be replaced.

In [46]:
sentence.replace("s", "$$")

'Thi$$ i$$ INFO 615.'

### `split()` method

Use `split()` to break a string into chunks (sometimes called "tokens").

In [47]:
sentence.split()

['This', 'is', 'INFO', '615.']

By default, `split()` breaks up a string based on spaces, but you can pass other substrings to split on.

In [48]:
sentence.split("i")

['Th', 's ', 's INFO 615.']

In [49]:
sentence.split("-")

['This is INFO 615.']

### `join()` method

Use the string join method to turn a list into a string.

In [50]:
sentence.split()

['This', 'is', 'INFO', '615.']

In [51]:
join_string = ' ^-_-^ '
join_string.join(sentence.split())

'This ^-_-^ is ^-_-^ INFO ^-_-^ 615.'

### `find()` method

Use the find method to return the index of the first instance of some substring within another string.

In [52]:
sentence.find("INFO")

8

# Data Types

There are four basic types of data in Python:

- Numeric
    - Integers (`int`)
    - Decimals (`float`)
- Text
    - Strings (`str`)
    - Must be surrounded by either single quotes or double quotes, i.e. “hello”
- Boolean (`bool`)
    - Booleans represent one of two values: True or False

There are other data types in Python, but we will focus on these three first.

## `Type()` Function

You can see what data type a variable is by using the `type()` function.

In [53]:
type(3)

int

In [54]:
type(3.0)

float

In [55]:
type("3.0")

str

In [56]:
type(True)

bool

## Casting

Sometimes you will need to convert a variable from one type to another. This is called ✨ casting ✨

Casting in python is done using constructor functions:

- `int()` constructs an integer number from an integer, a float (by removing all decimals), or a string (providing the string represents an integer number)
- `float()` constructs a float number from an integer, a float, or a string (if the string represents a float or an integer)
- `str()` constructs a string from a variety of data types, including strings, integers and floats

Cast a `float` to an `int`.

In [57]:
x = int(2.8)

In [58]:
x

2

Cast a `str` to an `int`.

In [59]:
x = int("3")

In [60]:
x

3

Cast an `int` to a `float`.

In [61]:
x = float(3)

In [62]:
x

3.0

# Arithmetic Operators

Let's review the basic mathematical operations that we can perform with Python.

In [63]:
# Add two integers
2 + 2

4

In [64]:
# Multiply two integers
2 * 3

6

In [65]:
# Divide two integers
10 / 5

2.0

In [66]:
# Raise 2 to the 4th power
2 ** 4

16

In [67]:
# take the square root of 9 (by raising it to the power of 1/2)
9 ** (1 / 2)

3.0

## Incrementation

We can increment a variable using the + operator. Increment means to increase a number by another number, usually 1 but not necessarily 1.

In [68]:
x = 4
x = x + 1

In [69]:
x

5

In [70]:
x = x + 1

In [71]:
x

6

We can accomplish the same thing (incrementation) using `+=` operator, which is a bit cleaner.

In [72]:
x = 4
x += 1

In [73]:
x

5

In [74]:
x += 1

In [75]:
x

6

## Modulo Operator

The `%` symbol in Python is called the Modulo Operator. The Modulo returns the remainder of a division problem

Let's try it. 12 is evenly divisible by 3, so 12 % 3 equals zero.

In [76]:
12 % 3

0

10, on the other hand, is not evenly divisible by 3. 9 is evenly divisible by 3, and then there is 1 remaining to get to 10. This is why 10 % 3 returns a value of 1.

In [77]:
10 % 3

1

As expected, 11 % 3 returns a remainder of 2.

In [78]:
11 % 3

2

Thus, the `%` operator can be used to determine if one number evenly divides into another. When the remainder of a division is zero, that implies one number must be evenly divisible by the other.

## `Floor()` Function

In [79]:
from math import floor

The floor of a number is the largest integer less than or equal to the number. This can be thought of as “rounding down”.

In [80]:
floor(3.4)

3

In [81]:
floor(3.9)

3

In [82]:
floor(3)

3

## Floor Division

Floor division is an operation in Python that divides two numbers and rounds the result down to the nearest integer
We can perform floor division in Python with the double `//` operator.

In [83]:
101 // 4

25

Note how Floor Division is related to the modulo operator, which returns the remainder of 1.

In [84]:
101 % 25

1

## Practice

In [85]:
# Now you try
# In a single line of code, divide the sum of ninety plus seventy by the product of twelve and eleven
# Order of operations (PEMDAS) matters
# Result should be: 1.21212121...

# Comparison Operators

## Equality (`==`)

You can check if two variables are equal using the double equal sign `==`.

In [86]:
a = 5
b = 10

a == b

False

## Inequality (`!=`)

Conversely, you can check if two variables are *not* equal using the `!=` operator.

In [87]:
a = 5
b = 10

a != b

True

## Greater Than (>)

In [88]:
a = 5
b = 10

a > b

False

## Less Than (<)

In [89]:
a = 5
b = 10

a < b

True

## Greater Than or Equal To (>=)

In [90]:
a = 5
b = 10

a >= b

False

## Less Than or Equal To (<=)

In [91]:
a = 5
b = 10

a <= b

True

# Logical Operators

Logical operators can used to combine conditional statements.

## `and`

`and` returns `True` if both statements are `True`.

In [92]:
x = 3

x < 5 and x < 10

True

## `or`

`or` returns `True` if at least one statement is `True`.

In [93]:
x < 2 or x < 5

True

`not` reverses the result, turning `True` to `False` or `False` to `True`.

In [94]:
not(x < 5 and x < 10)

False

In [95]:
not(x < 2 or x < 5)

False

# Membership Operators

Membership operators are used to test if a variable is contained within another variable.

In [96]:
'h' in 'hello'

True

In [97]:
'h' not in 'hello'

False

As we will see in the next section, membership operators are particularly relevant with data structures like `lists` and `dictionaries`.

# Data Structures

## Lists

Lists are used to store multiple items in a single variable.

Lists are created using square brackets.

### Properties of Lists

- Ordered
    - Lists have a defined order, and that order will not change (unless we change it)
    - If you add new items to a list, the new items will be placed at the end of the list
- Indexed
    - The first item has index [0], the second item has index [1], etc.
- Changeable
    - We can change, add, and remove items in a list after it has been created
- Allow duplicates
    - Since lists are indexed, lists can have multiple items with the same value

### Create a list

Create a list named `food`.

In [98]:
food = ['eggs', 'bananas', 'spinach', 'milk', 'bread']

In [99]:
type(food)

list

### Accessing items in list

Select the first item from the list (in position zero).

In [100]:
food[0]

'eggs'

Select the second item from the list.

In [101]:
food[1]

'bananas'

Select the third item from the list.

In [102]:
food[2]

'spinach'

Select the last item from the list.

### Using negative indexing

Select the last item in the list using `-1`

In [103]:
food[-1]

'bread'

Select the second to last item from the list.

In [104]:
food[-2]

'milk'

### List Slicing

You can return a subset or “slice” of a list by specifying where to start and where to end the range

Select the first three items from the list.

In [105]:
food[:3]

['eggs', 'bananas', 'spinach']

Select the last two items from the list.

In [106]:
food[-2:]

['milk', 'bread']

Select the middle of the list, excluding the first and last item.

In [107]:
food[1:-1]

['bananas', 'spinach', 'milk']

### Changing Items in a List

To change the value of a specific item, refer to the index number.

Replace the first list item with something else:

In [108]:
food[0] = 'onion'

In [109]:
food

['onion', 'bananas', 'spinach', 'milk', 'bread']

### Adding Items to a List

You can add an item to the end of a list with `.append()`

In [110]:
food.append("cheese")

In [111]:
food

['onion', 'bananas', 'spinach', 'milk', 'bread', 'cheese']

You can insert an item into a specific position in a list with `.insert()`

In [112]:
food.insert(1, "orange")

In [113]:
food

['onion', 'orange', 'bananas', 'spinach', 'milk', 'bread', 'cheese']

### Removing Items from a list

There are a few options for removing items from a list.

The `remove()` method removes an item by its specified content.

In [114]:
food.remove('onion')

In [115]:
food

['orange', 'bananas', 'spinach', 'milk', 'bread', 'cheese']

The `pop()` method removes an item by its index position. It also returns the item that was removed.

In [116]:
food.pop(2)

'spinach'

In [117]:
food

['orange', 'bananas', 'milk', 'bread', 'cheese']

If you don't specify the index position, `pop()` will remove the last item by default.

In [118]:
food.pop()

'cheese'

In [119]:
food

['orange', 'bananas', 'milk', 'bread']

Lastly, you can remove an item by its index position using `del` function. Unlike `pop()`, `del` does not return the item that was removed.

In [120]:
del food[0]

In [121]:
food

['bananas', 'milk', 'bread']

### Sorting a list

You can sort a list with `sort()`.
This will sort the list alphanumerically, ascending, by default.

In [122]:
food.sort()

In [123]:
food

['bananas', 'bread', 'milk']

To sort descending, use the keyword argument `reverse = True`.

In [124]:
food.sort(reverse = True)

In [125]:
food

['milk', 'bread', 'bananas']

### Copying a list

You can make a copy of a list with `.copy()`

In [126]:
food_copy = food.copy()

In [127]:
food_copy

['milk', 'bread', 'bananas']

Note that these are now two separate variables. Changes made to one will not impact the other.

In [128]:
food.sort()

In [129]:
food

['bananas', 'bread', 'milk']

In [130]:
food_copy

['milk', 'bread', 'bananas']

### Joining lists

You can join (or "concatenate") two lists with the `+` operator.

In [131]:
more_food = ['kiwi', 'orange', 'lemon', 'grapefruit']

In [132]:
food + more_food

['bananas', 'bread', 'milk', 'kiwi', 'orange', 'lemon', 'grapefruit']

Note that the list join above does not impact the contents of either list.

In [133]:
food

['bananas', 'bread', 'milk']

You can join lists and update the original list to reflect the new contents after joining like this:

In [134]:
food = food + more_food

In [135]:
food

['bananas', 'bread', 'milk', 'kiwi', 'orange', 'lemon', 'grapefruit']

### Clear all items from a list

The `clear()` method removes all the items from a list.

In [136]:
food.clear()

In [137]:
# The list is now empty
food

[]

## Dictionaries

Dictionaries are used to store data values in key : value pairs

Dictionaries are written with curly brackets, and have keys and values

In [138]:
prices = {
    'eggs': 3.50, 
    'bananas': 0.80,
    'spinach': 4.00,
    'milk': 2.00, 
    'bread': 2.00
}

In [139]:
type(prices)

dict

### Accessing items in a dictionary

Retrieve the value associated with they key `eggs`:

In [140]:
prices['eggs']

3.5

Retrieve the value associated with they key `bananas`:

In [141]:
prices['bananas']

0.8

View all of the keys in this dictionary.

In [142]:
prices.keys()

dict_keys(['eggs', 'bananas', 'spinach', 'milk', 'bread'])

View all of the values in this dictionary.

In [143]:
prices.values()

dict_values([3.5, 0.8, 4.0, 2.0, 2.0])

### Checking for membership within a dictionary

Is `eggs` in this dict?

In [144]:
'eggs' in prices

True

Is `tomatoes` in this dict?

In [145]:
'tomatoes' in prices

False

### Changing items in a dictionary

You can change the value of a specific item by referring to its key name.

In [146]:
prices

{'eggs': 3.5, 'bananas': 0.8, 'spinach': 4.0, 'milk': 2.0, 'bread': 2.0}

In [147]:
prices['bananas'] = 1.0

In [148]:
prices

{'eggs': 3.5, 'bananas': 1.0, 'spinach': 4.0, 'milk': 2.0, 'bread': 2.0}

You can also use the `update()` method to change items in a dictionary with the items from the given argument.

In [149]:
prices.update({"bread": 4.0})

In [150]:
prices

{'eggs': 3.5, 'bananas': 1.0, 'spinach': 4.0, 'milk': 2.0, 'bread': 4.0}

### Adding items to a dictionary

You can add an item to a dictionary by referring to its key name.

In [151]:
prices

{'eggs': 3.5, 'bananas': 1.0, 'spinach': 4.0, 'milk': 2.0, 'bread': 4.0}

In [152]:
prices['onion'] = 1.20

In [153]:
prices

{'eggs': 3.5,
 'bananas': 1.0,
 'spinach': 4.0,
 'milk': 2.0,
 'bread': 4.0,
 'onion': 1.2}

### Removing items from a dictionary

There are several methods to remove items from a dictionary.

The `pop()` method removes the item with the specified key name. Note that `pop()` returns the value that is removed.

In [154]:
prices.pop('eggs')

3.5

In [155]:
prices

{'bananas': 1.0, 'spinach': 4.0, 'milk': 2.0, 'bread': 4.0, 'onion': 1.2}

Alternately, you can use the `del` keyword to delete an item by specified key name. Unlike `pop()`, `del` does not return the value.

In [156]:
del prices['spinach']

In [157]:
prices

{'bananas': 1.0, 'milk': 2.0, 'bread': 4.0, 'onion': 1.2}

### Make a copy of a dictionary

Similar to lists, you can make a copy of a dictionary with `.copy()`

In [158]:
prices_copy = prices.copy()

In [159]:
prices_copy

{'bananas': 1.0, 'milk': 2.0, 'bread': 4.0, 'onion': 1.2}

### `zip()` function

You may need to merge two lists into a dictionary. This can be done with the `zip()` function.

`zip()` takes a list of keys, and a list of values, and merges them together to form a dictionary.

In [160]:
keys = ['a', 'b', 'c', 'd']
values = [0, 1, 2, 3]

# zip the two lists together
# and construct a dictionary
new_dict = dict(zip(keys, values))

In [161]:
new_dict

{'a': 0, 'b': 1, 'c': 2, 'd': 3}

## Sets

Sets are used to store unique items in a single variable. When using a set, all of its elements must be unique.

In [162]:
# Duplicates will be dropped from a set
set1 = {"a", "b", "c", "c", "c"}
set1

{'a', 'b', 'c'}

A set is a collection which is:
- unordered
- unchangeable
- unindexed

Set items are unchangeable, but you can remove items and add new items.

You *cannot* access items in a set by referring to an index or a key. Trying to do so throws an error.

In [163]:
# Throws an error
set1["a"]

TypeError: 'set' object is not subscriptable

### Checking for membership within a set

You can, however, check if an item is present in the set:

In [164]:
"a" in set1

True

You can check the length of a set with `len()`.

In [165]:
len(set1)

3

Sets can include any date type, and can even include a mix of data types.

In [166]:
set2 = {"abc", 34, True, 40, "male"}

In [167]:
set2

{34, 40, True, 'abc', 'male'}

### Adding items to a set

You can add items to a set with `add()`

In [168]:
set1 = {"apple", "banana", "cherry"}
set1.add("orange")

In [169]:
set1

{'apple', 'banana', 'cherry', 'orange'}

### Adding one set to another set

You can add items from one set to another with `update()`.

In [170]:
set1 = {"apple", "banana", "cherry"}
set2 = {"pineapple", "mango", "papaya"}

set1.update(set2)

In [171]:
set1

{'apple', 'banana', 'cherry', 'mango', 'papaya', 'pineapple'}

The second object in the `update()` method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.)

In [172]:
set1 = {"apple", "banana", "cherry"}
list1 = ["kiwi", "orange"]

set1.update(list1)

In [173]:
set1

{'apple', 'banana', 'cherry', 'kiwi', 'orange'}

### Joining two sets with `union()`

You can use the `union()` method tor return a new set containing all items from both sets.

In [174]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)

In [175]:
set3

{1, 2, 3, 'a', 'b', 'c'}

### Joining two sets with `intersection()`

The `intersection()` method will return a new set that only contains the items that are present in both sets.

In [176]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

In [177]:
z

{'apple'}

### Joining two sets with `symmetric_difference()`

In [178]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

In [179]:
z

{'banana', 'cherry', 'google', 'microsoft'}

# If / Else Statements

In computer science, control flow is the order in which individual statements, instructions or function calls of an imperative program are executed. A set of statements executed as a group is often called a block.

The first Python control structure we will learn is the "if statement". 

The "if statement" is a decision-making statement that guides a program to make decisions based on whether a provided condition is True of False. 

An "if statement" is written by using the `if` keyword.

## Indentation

Python is unique in that it relies on indentation (whitespace at the beginning of a line) to define scope in the code.

## The `if` keyword

Use an if statement to execute indented code only if some condition is true.

In [180]:
x = 9
if x < 10:
    # Code block following the if must be indented
    print(str(x) + " is less than 10")

9 is less than 10

You can chain conditions together with and/or group conditions with parentheses for readibility.

In [181]:
x = 3.5
if (x >= 3) and (x <= 6):
    print("x is between 3 and 6")

x is between 3 and 6

## The `else` keyword

If / Else statements allow us to write branching conditional statements of the form: “If X then do Y, otherwise do Z”.

In [182]:
# if/else statement to handle different branches of execution
sentence = "Today is Wednesday."
if "Wed" in sentence:
    print("Yes")
else:
    print("No")

Yes

## The `elif` keyword

The `elif` keyword is pythons way of saying "if the previous conditions were not true, then try this condition".

If the first if statement evaluates to false, `elif` (i.e., "else if") executes a code block if its condition is true.

`else` executes a code block if no preceding block evaluated to true.

In [183]:
x = 10
if x < 10:
    print("x is less than 10")
elif x == 10:
    print("x equals 10")
else:
    print("x is greater than 10")

x equals 10

# For Loops

Loops let us iterate over a container of elements, handling each element in sequence, one at a time.

## Loop through a list

In [184]:
sentence = "This is INFO 615"

In [185]:
# loop through list of words in string
for word in sentence.split():
    print(word)

This
is
INFO
615

In [186]:
for word in sentence.split():
    print("s" in word)

True
True
False
False

## Count with `enumerate()`

In [187]:
# enumerate lets you loop through a list and count along
# this function returns a tuple
for count, letter in enumerate(sentence):
    print(count, letter)

0 T
1 h
2 i
3 s
4
5 i
6 s
7
8 I
9 N
10 F
11 O
12
13 6
14 1
15 5

## The `range()` function

`range()` produces a range of integer values.

In [188]:
range(9)

range(0, 9)

Convert it to list to explicitly see what's in the range.

In [189]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

You can loop through a range.

In [190]:
for x in range(9):
    print(x, x ** 2)

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64

Because range goes up to but does **not** include the ending number, you must add 1 to include it.

In [191]:
n = 10
list(range(n + 1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

The `range()` function optionally takes start, end, and step arguments.

Step sets the size of the increment used in range (default is a step value of 1).

See what happens when you set the step value to 2.

In [192]:
list(range(10, 20, 2))

[10, 12, 14, 16, 18]

## Practicing for loops

Now it's your turn. 

1) Loop through the numbers 1 through 15, using modulo to print 'even' if each is evenly divisible by 2, and 'odd' if not

In [193]:
# Your code below

2. Print out only the integers in the following list

In [194]:
my_list = [3.3, 19.75, 6, 3.3, 8]

# Your code below

# While Loops

With the while loop we can execute a set of statements as long as a condition is True.

**Warning**: If a condition continues to be True, the while loop will run forever in an infinite loop

In [ ]:
# a while loop repeats as long as some condition is True
# beware infinite loops!
x = 5
while x > 0:
    print(x)
    x = x - 1
print("blast off!")

In [346]:
# add the numbers 1 through 9 to a list
my_list = []
x = 1
while x <= 9:
    my_list.append(x)
    x = x + 1
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Functions

A function is a reusable block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

Like with for-loops, indentation matters. The block of code contained within a function must be indented.

In [347]:
def hello_world():
    print("Hello, world!")

In [348]:
hello_world()

Hello, world!

## Function arguments

Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses.

You can add as many arguments as you want, just separate them with a comma.

Let's create a simple example function.

In [349]:
def full_name(first_name, last_name):
    print(first_name + " " + last_name)

In [350]:
full_name("Will", "Geary")

Will Geary

Let's create a more complicated function involving comparison operators and if/else statements.

In [351]:
def my_function(value):
    if value < 10:
        print(value, "is less than 10")
    elif value == 10:
        print(value, "equals 10")
    else:
        print(value, "is greater than 10")

In [352]:
my_function(7)

7 is less than 10

## `print()` versus `return`

As we have seen, we can use `print()` to print something to the console.

In [353]:
def my_function(x):
    print(5 * x)

In [354]:
my_function(10)

50

`print()` is useful as we are developing and debugging Python code. However, `print()` doesn't actually give us the value itself.

For example:

In [355]:
result = my_function(10)

50

See what's in the result variable:

In [356]:
result

The result variable doesn't contain anything!

In [357]:
type(result)

NoneType

In order to actually get the result of a function, use `return` rather than `print`.

`return` causes the function to exit, so it must be the very last line of a function.

Note that `return` does not use parenthesis like `print()` does.

In [358]:
def another_function(x):
    # Use return instead of print
    return 5 * x

In [359]:
result = another_function(10)

Now the result variable actually stores the value.

In [360]:
result

50

## Call one function inside another

We can use one function inside another.

In [429]:
def square(x):
    return x**2

In [430]:
def square_and_divide_by(x, n):
    res1 = square(x)
    output = res1 / n
    return output

In [431]:
square_and_divide_by(9, 2)

40.5

# Exercises

## Decompose an Address

Let's say we have a bunch of street address locations and the data is a bit messy. Some addresses contain zip codes within the text, some don't. Let's write a function that will search for a zip code in a piece of text.

We know that a U.S. ZIP Codes are always five digits long. If we are working with addresses within the U.S., we can use this fact to search for a five digit long string at the end of an address. We need to be careful though, some addresses may have five digit or possibly even longer numbers at the beginning of the address. So we only want to look to the right of the last character of the address that is not numeric.

In practice, we would use a geocoding tool to geocode an address. Just to give you a preview of how handy this is:

In [464]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="my_app")

In [465]:
address = "175 W 25th St New York, NY 10001"

In [466]:
result = geolocator.geocode(address)

In [467]:
result

Location(175, West 25th Street, Chelsea District, Manhattan, New York County, New York, 10001, United States, (40.74513124489796, -73.99388853061224, 0.0))

In [468]:
result.raw

{'place_id': 292383544,
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
 'osm_type': 'way',
 'osm_id': 483704512,
 'boundingbox': ['40.745081244898',
  '40.745181244898',
  '-73.993938530612',
  '-73.993838530612'],
 'lat': '40.74513124489796',
 'lon': '-73.99388853061224',
 'display_name': '175, West 25th Street, Chelsea District, Manhattan, New York County, New York, 10001, United States',
 'class': 'place',
 'type': 'house',
 'importance': 0.721}

In [471]:
result.raw['display_name'].split(",")[-2].strip()

'10001'

However, let's ignore that for the time being as we acquire these skills.

Use `split()` to break up the address on each space, and grab the last chunk.

In [433]:
last_chunk = address.split(" ")[-1]

In [434]:
last_chunk

'10001'

In [435]:
len(last_chunk) == 5

True

In [436]:
last_chunk.isnumeric()

True

First, let's write a small function which returns True if a string is a five digit number, False otherwise:

In [437]:
def could_be_a_zip_code(x):
    if len(x) == 5 and x.isnumeric():
        return True
    else:
        return False

In [438]:
could_be_a_zip_code('11225')

True

Try running the zip code on a integer:

In [ ]:
could_be_a_zip_code(11225)

Why does this fail? How can we fix this issue in the function?

In [391]:
# Optional
# Write an improved version of the function above
# Which handles different file types

Let's write an address cleaner function which plucks out the zip code and returns both the cleaned address and the zip code separately.

In [477]:
def address_cleaner(address):
    
    # Initialize an output dictionary
    # That we will populate with the results
    # And return at the end of the function
    output = {}
    
    # Get the last chunk of text
    last_chunk = address.split(" ")[-1]

    # Use the function that we just created in the cell above
    if could_be_a_zip_code(last_chunk):
        
        # Let's clean the address
        # By replacing the zip zode characters
        # in the input address with nothing
        clean_address = address.replace(last_chunk,"")
        
        # Remove any remaining extra white space
        clean_address = clean_address.strip()
        
        # Populate the output dictionary
        output['zip_code'] = last_chunk
        output['clean_address'] = clean_address
        output['raw_address'] = address
    
    # If not, populate with output with None values
    else:
        output['zip_code'] = None
        output['clean_address'] = None
        output['raw_address'] = address

    # Return the output    
    return output

In [478]:
results = address_cleaner(address)

In [479]:
results

{'zip_code': '10001',
 'clean_address': '175 W 25th St New York, NY',
 'raw_address': '175 W 25th St New York, NY 10001'}